# Nom du workflow qui apparaîtra sur GitHub
name: Python Pytest CI

# Déclencheur : Quand ce workflow doit-il s'exécuter ?
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest # Utilise un serveur Linux standard

    steps:
    # 1. Checkout: Récupérer le code du dépôt
    - uses: actions/checkout@v4
    
    # 2. Setup Python: Configurer l'environnement Python
    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'
    
    # 3. Install Dependencies: Installer les librairies listées dans requirements.txt
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        
    # 4. Install Chrome: Installer le navigateur Chrome sur le serveur Ubuntu
    - name: Install Google Chrome Stable
      uses: browser-actions/setup-chrome@latest
        
    # 5. Run Pytest: Exécuter le test Headless
    - name: Run Pytest Tests (Headless)
      run: |
        pytest

    # 5. Run Pytest: Exécuter le test Headless
    - name: Run Pytest Tests (Headless)
      run: |
        pytest

